:root {
  --bg-dark: oklch(0.1 0.005 20);
  --bg: oklch(0.15 0.005 20);
  --bg-light: oklch(0.2 0.005 20);
  --text: oklch(0.96 0.01 20);
  --danger: oklch(0.5 0.2 30);
  --success: oklch(0.5 0.2 160);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  background-color: var(--bg);
}

main {
  position: relative;
  height: 100vh;
  background-color: var(--bg);

  .container {
    background-color: var(--bg-light);
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 25%;

    .window {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      gap: 15px;
      background-color: var(--bg-dark);
      padding: 10px 0;
      border-radius: 10px;
    }

    .button-group {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 20px;
    }
  }
}

.window {
  .top {
    width: 100%;

    h1,
    h4 {
      color: var(--text);
      -webkit-text-stroke: 1px var(--text);
    }

    h1 {
      font-size: 75px;
      margin-block: 10px;
    }

    h4 {
      font-size: 25px;
      font-weight: 800;
    }
  }

  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--text);

    #caption {
      font-style: italic;
      font-weight: 600;
    }

    #trophies {
      font-weight: 500;
      font-size: 20px;
    }
  }
}

.button-group button {
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  font-size: 20px;
  font-weight: 700;
  border: 2px solid;
  background-color: var(--bg-light);
}

#guess {
  color: var(--success);
  &:active {
    background-color: var(--success);
    color: var(--bg-dark);
    border-color: var(--bg-dark);
  }
}

#reset {
  color: var(--danger);
  &:active {
    background-color: var(--danger);
    color: var(--bg-dark);
    border-color: var(--bg-dark);
  }
}
